<div class="container-fluid branded-border-panel"  ng-init="initExport()">

  <div class="main col-md-3" ng-include="'partials/home/sidebar.html'">
  </div>

  <div class="main col-md-9">
      <div class="container-fluid branded-border-panel">
        <h3>Export layers, reports and dashboards </h3>
        </div>
        <details id="details1">
            <summary>Layers</summary>

        <ul id="dropdownExport1">
            <li ng-repeat="layer in layers">
                <div>
                    <input type="checkbox" ng-model="layer.checked">
                    <span> {{layer.name}}</span>
                </div>
            </li>
        </ul>
        </details>
        <i>Required Layers for chosen reports and dashboards will be included automatically, there is no need to include them manually.</i>
        <br>

        <details id="details2">
            <summary>Reports</summary>

          <ul id="dropdownExport2">
              <li ng-repeat="report in reports">
                  <div>
                      <input type="checkbox" ng-model="report.checked">
                      <span> {{report.reportName}}</span>
                  </div>
              </li>
          </ul>
        </details>

        <details id="details3">
            <summary>Dashboards</summary>

          <ul id="dropdownExport3">
              <li ng-repeat="dashboard in dashboards">
                  <div>
                      <input type="checkbox" ng-model="dashboard.checked">
                      <span> {{dashboard.dashboardName}}</span>
                  </div>
              </li>
          </ul>
        </details>

    <input type="text" ng-model="exportName">
    .json
    <br>
    <button class="btn btn-success" ng-click="downloadExport()">export</button>
    <br>
    <a class="btn btn-default" href="/#/home">back</a>
  </div>
</div>
